rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth.token.admin == true;
    }
    function isAdminOrOwner(data) {
      return request.auth.uid == data.userId || isAdmin();
    }

    match /messages/{documentId} {
      allow create:       if isAdminOrOwner(request.resource.data);
      allow update:       if isAdminOrOwner(request.resource.data) && isAdminOrOwner(resource.data);
      allow read, delete: if isAdminOrOwner(resource.data);
    }
  }
}
